.ad {
    width: 100%;
    min-width: 1400px;

    .single-item {
        margin: 0;

        .slick-slide {
            outline: none;
        }

        button {
            z-index: 1;
            width: 285px;
            height: 494px;

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%) rotate(-45deg);
                width: 8px;
                height: 8px;
                border: solid 6px $mainBG_1;
                border-width: 6px 0 0 6px;
            }

            &.slick-prev {
                left: 0px;
            }

            &.slick-next {
                right: 0px;
                
                &::before {
                    transform: translate(-50%,-50%) rotate(45deg) scaleX(-1);
                }
            }
        }
    }
}